//Intens Menu
$corDaLogo: black; // Defina a cor da Logo
$corDosLinksMenu: black;
$corDasLinhas: black;
//Itens Nav Bar
$backgroundNav: black;
$corNav: white;
$corDosLinks: white;
$corDoBotao: white;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    width: 80%; /* Não necessário */
    margin: 0 auto; /* Não necessário */
    max-width: 1440px; /* Não necessário */
}

.logo {
    font-size: 2rem;
    color: $corDaLogo;
}
.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.menu-container a {
    color: $corDosLinksMenu;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.line1,
.line2,
.line3 {
    width: 2rem;
    height: 2px;
    margin: 0.5rem;
    background: $corDasLinhas;
    pointer-events: none;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 3rem;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    z-index: -1;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.links li a {
    color: white;
}
.nav-contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.nav-contact a {
    color: white;
}
